extends layout

block content
  body.centered-form
    .centered-form__form
      form(action="/chat", method="get")
        .form-field
          h3 Join a chat
        .form-field
          label(for="name") Display Name:
          input(type="text", name="name" autofocus)
        .form-field
          label(for="name") Room Name:
          input(type="text", name="room")
        .form-field
          button(type="submit") Join