extends layout

block content
  body.centered-form
    .centered-form__form
      form(action="/chat", method="get")
        .form-field
          h3 Join a chat
        .form-field
          label(for="name") Display Name:
          input(type="text", name="name" autofocus)
        .form-field#room
          label(for="name") Room Name:
        .form-field
          button(type="submit") Join

  script(src="/vendors/js/jquery-3.2.1.min.js")
  script(src="/socket.io/socket.io.js")
  script(src="/vendors/js/rooms.js")      