extends layout

block content 
  .chat__sidebar
    h3 People
    #users df
  .chat__main
    ol#messages.chat__messages
    .chat__footer
      form#message-form
        input(type="text", name="message", placeholder="Message")
        button(type="submit") Submit
      button#send-location Send location

block append scripts
  script(src="/vendors/js/code.js")